html {
    scroll-behavior: smooth;
  }
nav {
    position: fixed;
}
.right {
   
    height: 50%;
    width: 50%;
    justify-content: end;
}
.img {
    justify-content: end;
}
#nav-color {
    background-color: rgb(154, 154, 55);
    color: black;
}
.right{
    justify-content: end;
    margin: 2%;
    
}
.nav-text {
    margin: 1%;
}
#nav-color {
    background-color: rgb(154, 154, 55);
    color: rgb(187, 204, 117);
}
a {
    
    color: black;
}