html {
    scroll-behavior: smooth;
  }

body {
    font-kerning: normal;
    font-family: "calibri";
}
nav {
    position: fixed;
    margin-bottom: 20vh;
}
.row {
    display: flex;
}

img {
    height: 100%;
    width: 100%;
    
}

#nav-color {
    background-color: black;
    
}
.right{
    justify-content: end;
    margin: 2%;
    height: 20em;
    width: 30em;
}
.img-top {
    display: none;
}
.right:hover .img-top {
    display: inline;

    
}
.svg {
    
    background-image: url("/Assets/images/mark-github.svg");
    height: 5;
    width: 20;
}
.logo {
    background-image: url("/Assets/images/mark-github.svg");
}
.icon {
    background-image: url(/Assets/images/mark-github.svg);
    z-index: 5;
    
    color: white;
}
object {
    height: 20;
    width: 20;
    background-color: white;
}
.nav-text {
    margin: 1%;
    color: white;
    margin-right: 2%;
    letter-spacing: .3rem;
   
}
#nav-color {
    background-color: black;
    
}

.white-text {
    background-color: black;
    color: white;
}
.center {
    text-align: center;
    letter-spacing: .1rem;
}
.top-space {
    margin-top: 20px;
}
.space {
    letter-spacing: .3rem;
}
hr {
    margin-top: 1rem;
    margin-bottom: 1rem;
    border: 0;
    border-top: 1px solid grey;
}